Checks:
  - '-*'
  - 'bugprone-*'
  - 'clang-analyzer-*'
  - 'cppcoreguidelines-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - '-cppcoreguidelines-pro-type-reinterpret-cast'
  - '-misc-include-cleaner'
  - '-misc-non-private-member-variables-in-classes'
  - '-modernize-use-trailing-return-type'
  - '-bugprone-easily-swappable-parameters'
  - '-modernize-return-braced-init-list'
FormatStyle: 'file'
